@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body {
  background-color: #292929;
  width: 100vw;
  min-height: 100vh;

  font-family: "Quicksand", sans-serif;
}
.notepad-container {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 15vh;
  justify-content: center;
  font-size: 16px;
  color: #fff;

  font-optical-sizing: auto;
}
.textarea-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  max-width: 80vw;
  word-break: break-word;
}
.textarea-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
textarea {
  background-color: #222;
  min-height: 1.2em;
  height: 1.2em;
  font-size: 2em;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  color: #ddd;
  border: 2px solid gray;
  outline: none;
}
.save-button {
  height: 60px;
  width: 60px;
  border-radius: 58px;
  border: 2px solid #df652d;
  box-shadow: 0px 0px 10px #df652d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-button img {
  height: 35px;
  user-select: none;
  width: 35px;
}

.save-button:active {
  border-radius: 58px;
  background: #222222;
  box-shadow: inset 2px 2px 3px #0e0e0e, inset -2px -2px 3px #363636;
  transform: scale(98%);
}
.notes-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}
.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.note-container {
  background-color: #343434;
  border-radius: 10px;
  width: calc(100% - 20px);
  padding: 10px 10px 20px 10px;
  border: 1px solid #df652d;
  box-shadow: 0px 0px 10px #df652d;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-size: 1.2em;
  overflow: hidden;
}
.note-container textarea{
  height: 100%;
}
.note-button-container {
  position: relative;
  min-height: 146px;
  min-width: 42px;
}
.note-button {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  border: 2px solid #df652d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343434;
  transition: .1ms ease;
}
.note-button:active{
  box-shadow: 0px 0px 10px 2px #df652d;
}
.settings-button {
  position: absolute;
  z-index: 5;
}
.delete-button {
  position: absolute;
  top: 0;
  transition: 0.2s ease;
  z-index: 4;
}
.edit-button {
  position: absolute;
  top: 0;
  transition: 0.2s ease;
  z-index: 3;
}
.star-button {
  position: absolute;
  top: 0;
  right: -4px;
  transition: 0.2s ease;
  z-index: 3;
}
.active-star-button {
  right: 48px;
}
.active-starred-button{
  right: 48px;
  border: 2px solid transparent;
  transition: .2s ease;
}
.active-starred-button img {

  height: 100%;
  width: 100%;
}

.active-delete-button {
  
  top: 104px;
}
.active-edit-button {
  top: 52px;
}
.note {
  min-width: 100px;
}
img {
  height: 24px;
  user-select: none;
  width: 24px;
  filter: hue-rotate(180deg);
}
